@model sampleTest.Models.AdminLogin
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/Common_Layout.cshtml";
}

<section>
    <div class="profile_outer">
        <div class="profile_head">
            <div class="left">
                 Welcome ...
            </div>

        </div>
    </div>
</section>
